{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-console":"off"
  },
  "settings": {
    "react": {
      "version": "999.999.999"
    }
  }
}
